html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        ul
            li(class="tasks") CRÉER UNE API
            li(class="tasks") FAIRE DES KATAS
            li(class="tasks") TESTER DE NOUVELLES TECHNOS
            li(class="tasks") LIRE DES BOUQUINS
            li(class="tasks") APPRENDRE Á NAGER